<div class='navbar' data-no-turbolink>
  <ul>
    <li class="<%=@rootcls%>"><a href='<%= root_url %>'>Home</a></li> |
    <li class="<%=@chrcls%>"><a href='/characters/index'>Characters</a></li> |
    <li class="<%=@galcls%>"><a href="/gallery/index">Gallery</a></li> |
    <li class="<%=@cascls%>"><a href="/main_page/castcrew">Cast & Crew</a></li>
  </ul>
</div>